<a href="https://colab.research.google.com/github/anaghadamame/Deep-Learning-Work/blob/main/bank_detection_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [2]:
import pandas as pd
import numpy as np
import io

In [10]:
df = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

In [ ]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
df=df.drop(["RowNumber","CustomerId","Surname"],axis=1)

In [12]:
df["Gender"] = pd.get_dummies(df["Gender"],drop_first=True)
df["Geography"] = pd.get_dummies(df["Gender"],drop_first=True)

In [13]:
df.head()

   CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619          0       0  ...               1        101348.88       1
1          608          0       0  ...               1        112542.58       0
2          502          0       0  ...               0        113931.57       1
3          699          0       0  ...               0         93826.63       0
4          850          0       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [34]:
#Rescaling data by MinMaxScalar
for each in ["CreditScore", "Age","Tenure", "Balance", "EstimatedSalary"]:
    df[each] = (df[each] - np.min(df[each])) / (np.max(df[each])-np.min(df[each]))

In [36]:
df.head()

   CreditScore  Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0        0.538          0       0  ...               1         0.506735       1
1        0.516          0       0  ...               1         0.562709       0
2        0.304          0       0  ...               0         0.569654       1
3        0.698          0       0  ...               0         0.469120       0
4        1.000          0       0  ...               1         0.395400       0

[5 rows x 11 columns]

In [37]:
x= df.iloc[:,1:-1].values
y=df.iloc[:,-1:].values

In [24]:
from sklearn.model_selection import train_test_split
from keras.layers import Dense , Dropout
from keras.models import Sequential

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)
x_train.shape

(7000, 9)

In [58]:
model=Sequential()
model.add(Dense(4,input_dim=9))
model.add(Dense(4,activation='relu'))
#model.add(Dropout(0.2))
model.add(Dense(4,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(2,activation='softmax'))

In [59]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [60]:
model.fit(x_train,y_train,epochs=10,batch_size=50)

Epoch 1/10
140/140 [==============================] - 0s 985us/step - loss: 0.7274 - accuracy: 0.4916
Epoch 2/10
140/140 [==============================] - 0s 989us/step - loss: 0.6944 - accuracy: 0.7181
Epoch 3/10
140/140 [==============================] - 0s 1ms/step - loss: 0.6935 - accuracy: 0.7537
Epoch 4/10
140/140 [==============================] - 0s 989us/step - loss: 0.6932 - accuracy: 0.7724
Epoch 5/10
140/140 [==============================] - 0s 1ms/step - loss: 0.6932 - accuracy: 0.7783
Epoch 6/10
140/140 [==============================] - 0s 971us/step - loss: 0.6932 - accuracy: 0.7821
Epoch 7/10
140/140 [==============================] - 0s 1ms/step - loss: 0.6932 - accuracy: 0.7861
Epoch 8/10
140/140 [==============================] - 0s 981us/step - loss: 0.6932 - accuracy: 0.7883
Epoch 9/10
140/140 [==============================] - 0s 989us/step - loss: 0.6931 - accuracy: 0.7897
Epoch 10/10
140/140 [==============================] - 0s 990us/step - loss: 0.6931 - accuracy: 0.7904